{% extends 'base.html' %}

{% block content %}
<h1 id="title">Form Input Data Kategori</h1>
<div id="form-outer">
  <p id="description">
    Silahkan Input Data Kategori
  </p>

<br>
  <a href="/list_kategori" class="nav-link">Lihat Data Kategori</a>
  <br>
  
  <form id="survey-form" method="POST" action="{{ url_for('update_kategori', id = kategori._id) }}" onsubmit="return validateForm()">
      <div class="rowTab">
        <div class="labels">
          <label id="name-label" for="name">Nama</label>
        </div>
        <div class="rightTab">
          <input autofocus type="text" name="i_nama" id="nim" value="{{ kategori.nama }}" class="input-field" placeholder="Masukan Nama Kategori" required>
        </div>
      </div>

      <div class="rowTab">
        <div class="labels">
          <label for="address">Deskripsi</label>
        </div>
        <div class="rightTab">
          <textarea id="comments" class="input-field" style="height:50px;resize:vertical;" name="i_deskripsi" placeholder="Masukan Deskripsi...">{{ kategori.deskripsi }}</textarea>
        </div>
      </div>
    

    <button id="submit" type="submit">Submit</button></a>
    <button id="reset" type="reset">Reset</button>
  </form>
</div>
{% endblock %}
